body {
    background-image: url(https://www.google.com/imgres?q=branded%20watches%20for%20men&imgurl=https%3A%2F%2Fomaxwatches.in%2Fcdn%2Fshop%2Fcollections%2Ferkek-2.jpg%3Fv%3D1744699839%26width%3D750&imgrefurl=https%3A%2F%2Fomaxwatches.in%2Fcollections%2Fmens-watches%3Fsrsltid%3DAfmBOopD4b4XZLeKHGpnh11w75pQS4x3jJpBVPacUbPlRdlT2YPpxY_X&docid=wulYP1tzQN2AeM&tbnid=Vpm6z-rdbmhp4M&vet=12ahUKEwjK8OW_9p-OAxWMRWwGHUQXCuoQM3oECGMQAA..i&w=750&h=393&hcb=2&ved=2ahUKEwjK8OW_9p-OAxWMRWwGHUQXCuoQM3oECGMQAA);
    background-color: #f2f22311;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }